
@{
    ViewBag.Title = "Yetkisiz Erişim";
}

<div class="row alert-danger" style="margin-top:15px">
    <div class="col-md-10 col-md-offset-1 text-left" style="padding-top:20px">
        <h1>
            <span class="glyphicon glyphicon-remove-circle" style="color:red"></span>   Yetkisiz Erişim
        </h1>
        <br />
        <p>
            Bu Sayfaya Erişim Yetkiniz Bulunmamaktadır.
            <br /><br />
            <a href="/Home/Index" class="btn btn-default" title="Anasayfaya Git!"> Anasayfaya Git!</a>
        </p>
    </div>
</div>

