@using PersonnelPermissionFollowing.Entities.ValueObjects
@model ForgetPasswordViewModel

@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!-- Forgot Password -->
<div class="nk-block toggled">
    @using (Html.BeginForm("ForgetPassword", "Home", new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <div class="nk-form">
                    <h4 class="text-center">Bağlar Belediyesi - Personel İzin Takip Sistemi</h4><br />
                    <h5 class="text-center">Yeni Şifre Talep Etme Formu</h5>
                    <img src="~/Images/baglar-logo.jpg" width="200" height="200" alt="" />
                    @Html.ValidationSummary(false)
                    @{
                        if (ViewBag.Info != null)
                        {
                            <strong style="color:green" class="alert-success glyphicon glyphicon-ok-sign">@ViewBag.Info</strong>
                        }
                    }
                    <p class="text-left">Şifrenizi unuttuysanız sistemde kayıtlı olan geçerli bir email adresinizi girerek yeni şifrenizi alabilirsiniz.</p>
                    <div class="input-group">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                        <div class="nk-int-st">
                            <input type="email" class="form-control" name="Email" placeholder="Email adresiniz...">
                        </div>
                    </div>

                    <a href="/Home/Login" title="Giriş Sayfası" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow right-arrow-ant"></i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="nk-navigation nk-lg-ic rg-ic-stl">
                <div class="pull-right">
                    <button type="submit" class="btn btn-default btn-lg" title="Şifre Gönder"><i class="fa fa-send-o"></i> <span>Şifre Gönder</span></button>
                </div>
            </div>
        </div>
    }
</div>
